:root {
    --black: #080808;
    --white: #fefefe;
    --gray: #424242;
    --orange: #fccd5f;
    --cream: #fdf8e7;
  }  
 
html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    scroll-padding-top: 60px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray);
}


.navbar {
    display: flex;
    justify-content: flex-end; /* aligns the navbar to the right */
    background-color: var(--gray);
    caret-color: transparent;
  }
  
  .nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    list-style: none; 
  }
  
  .nav-list-item {
    grid-row: span 2;
    background-color: var(--gray);
    text-align: center;
    font-size: 1.2em;
  }

  .nav-link {
    color: var(--cream);
    text-decoration: none; /* remove the underline for links*/
    padding: 30px;
  }

  .nav-link a{
    display: block;
  }
  
  .nav-link:hover {
    color: var(--orange);
    border: 2px solid var(--orange); 
    border-radius: 30px;
  }

